@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #3b3b98;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.pw-container {
  background: #23235b;
  width: 400px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 98%),
    0 10px 10px -5px rgb(284 299 265 / 50%);
}

.pw-title h1 {
  text-align: center;
  font-size: 1.8rem;
}

.pw {
  height: 50px;
  width: 100%;
  background: #0d0d33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.3rem;
}

.pw span {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

.pw button {
  background: #3b3b98;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.pw button i {
  font-size: 1.8rem;
  padding: 0.3rem;
}

.pw-header {
  padding: 1rem;
}

.pw-body {
  padding: 1rem;
}

.form-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.pw-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pw-footer button {
  margin: 2rem 0;
  width: 90%;
  height: 45px;
  background: #3b3b98;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
